@import "variables";

@keyframes loadingAnimation {
	from {
		left: -120%;
	}

	to {
		left: 120%;
	}
}

// GENERAL
html,
body {
	height: 100%;
}
body {
	font-family: 'Muli', sans-serif;
	background-color: $body_background-color;
	overflow-x: hidden;
	&.loading, 
	&.menu-open {
		overflow-y: hidden;
	}
}
a {
	text-decoration: none;
	color: #20639b;
	&.disabled {
		color: #bfbfbf;
		cursor: not-allowed;
		&:hover {
			background-color: inherit !important;
		}
	}
}
p {
	line-height: 1.47059;
	font-size: 1rem;
	color: #333;
}
.typcn {
	font-size: inherit;
	line-height: 0;
	margin-left: 0.3rem;
	&::before {
		height: auto;
	}
}

// LOADING
#loading {
	body.loading & {
		opacity: 1;
		visibility: visible;
		z-index: $loading_z-index;
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fbfbfb;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: opacity $loading_transition-duration $loading_transition-delay, visibility $loading_transition-duration $loading_transition-delay, z-index 0s #{$loading_transition-duration + $loading_transition-delay};
	z-index: -1;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
		width: 100%;
		height: 100%;
	}
	li {
		position: relative;
		display: block;
		width: calc(100% - #{2 * $loading_list_item_margin});
		height: $loading_list_item_initial_height;
		margin: 0 $loading_list_item_margin $loading_list_item_margin $loading_list_item_margin;
		max-width: 60rem;
		padding: 0;
		background-color: $loading_list_item_background-color;
	    box-shadow: $loading_list_item_box-shadow;
	    opacity: 1;
	    transition: opacity $loading_list_item_transition-duration ease-in-out, height #{$loading_list_item_transition-duration * 0.5} ease-in-out;
	    &:first-of-type {
	    	margin-top: $loading_list_item_first-of-type_margin-top;
		    .content {
		    	height: 100%;
		    }
	    }
	}
	.header {
		width: 100%;
		height: $loading_list_item_header_initial_height;
		background-color: $loading_list_item_header_background-color;
	}
	.content {
		position: relative;
		height: calc(100% - #{$loading_list_item_header_initial_height});
		overflow: hidden;
	    &::after {
	    	content: "";
	    	position: absolute;
	    	top: -25rem;
	    	left: 5rem;
	    	width: 35rem;
	    	height: 70rem;
	    	transform: rotate(20deg);
	    	animation-duration: 2s;
	    	animation-name: loadingAnimation;
			animation-timing-function: ease-in-out;
	    	animation-iteration-count: infinite;
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left, #ffffff 0%, #f5f5f5 40%, #f5f5f5 60%, #ffffff 100%);
			background: -webkit-linear-gradient(left, #ffffff 0%,#f5f5f5 40%,#f5f5f5 60%,#ffffff 100%);
			background: linear-gradient(to right, #ffffff 0%,#f5f5f5 40%,#f5f5f5 60%,#ffffff 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
		}
	}
	.image {
		position: absolute;
		top: #{-1 * (($loading_list_item_first-of-type_image_width * 0.5) + $loading_list_item_first-of-type_image_border-width)};
		width: $loading_list_item_first-of-type_image_width;
		height: $loading_list_item_first-of-type_image_height;
		margin: auto;
		border: $loading_list_item_first-of-type_image_border-width solid $loading_list_item_header_background-color;
		border-radius: 100%;
		background: $loading_list_item_background-color;
		left: 50%;
		transform: translateX(-50%);
	}
}

// MENU TOGGLE
#menu-toggle {
	position: fixed;
	width: $menu_toggle_width;
	height: $menu_toggle_height;
	bottom: $menu_toggle_bottom;
	right: $menu_toggle_right; 
	background-color: $menu_toggle_background-color;
	border: $menu_toggle_border-width solid $menu_toggle_border-color;
	border-radius: $menu_toggle_border-radius;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	box-shadow: $menu_toggle_box-shadow;
	z-index: $menu_toggle_z-index;
	transition-property: opacity, visibility;
	transition-duration: $menu_toggle_transition-duration;
	transition-delay: $menu_toggle_transition-delay;
	transition-timing-function: ease-in-out;
	.icon {
		line-height: 0;
	}
	.line {
		display: block;
		position: relative;
		width: $menu_toggle_line_width;
		height: $menu_toggle_line_height;
		top: $menu_toggle_line_distance_between * 0.5;
		background-color: $menu_toggle_background-color_line;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: $menu_toggle_line_height;
			top: $menu_toggle_line_distance_between * -1;
			background-color: $menu_toggle_background-color_line;
		}
	}
	.line,
	.line::before {
		transform: rotate(0); 
		transition: transform $menu_toggle_line_transition-duration, top $menu_toggle_line_transition-duration $menu_toggle_line_transition-duration;
	}
	body.loading & {
		opacity: 0;
		visibility: hidden;
	}
	body.menu-open & {
		.line,
		.line::before {
			top: 0;
			transition: top $menu_toggle_line_transition-duration, transform $menu_toggle_line_transition-duration $menu_toggle_line_transition-duration;
		}
		.line {
			transform: rotate(45deg);
			&::before {
				transform: rotate(-90deg);
			}
		}
	}
}

// MENU
#menu {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
	background: $menu_background-color_to;
	background: -webkit-linear-gradient(to top, $menu_background-color_from, $menu_background-color_to);
	background: linear-gradient(to top, $menu_background-color_from, $menu_background-color_to);
	opacity: 0;	
	box-shadow: $menu_box-shadow;
	visibility: hidden;
	overflow: auto;
	z-index: -1;
	transform: translateY(20%);
	transition: transform $menu_transition-duration $menu_ul_sliding_transition-delay ease-in-out, opacity $menu_transition-duration $menu_ul_sliding_transition-delay ease-in-out, visibility $menu_transition-duration $menu_ul_sliding_transition-delay ease-in-out, z-index 0s #{$menu_transition-duration + $menu_ul_sliding_transition-delay};
	h1 {
		padding: $menu_h1_padding;
		font-size: $menu_h1_font-size;
		margin: 0;
		line-height: 1;
		text-transform: uppercase;
		color: $menu_h1_color;
	}
	ul {
		margin: 0;
		padding: $menu_ul_padding;
		list-style: none;
		opacity: 0;	
		transform: translateY(20%);
		transition: transform #{$menu_ul_sliding_transition-duration * 10}, opacity $menu_ul_sliding_transition-duration 0s;
		li {
			a {
				display: flex;
				align-items: center;
				position: relative;
				text-decoration: none;
				padding: $menu_a_padding-top $menu_a_padding-right $menu_a_padding-bottom $menu_a_padding-left;
				color: $menu_a_color;
				font-size: $menu_a_font-size;
				font-weight: $menu_a_font-weight;
				transition: background-color $menu_a_hover_transition-duration, color $menu_a_hover_transition-duration;
				.typcn {
					margin-left: 0;
					margin-right: $menu_a_icon_margin-right;
					color: $menu_a_icon_color;
				}
				&:hover,
				&.active {
					background-color: $menu_a_hover_background-color;
					color: $menu_a_hover_color;
				}
			}
		}
	}
	body.menu-open & {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		z-index: $menu_z-index;
		transition-delay: 0s;
		ul {
			opacity: 1;
			transform: translateY(0);
			transition: transform #{$menu_ul_sliding_transition-duration * 3} #{$menu_ul_sliding_transition-delay * 1.8}, opacity #{$menu_ul_sliding_transition-duration * 6} #{$menu_ul_sliding_transition-delay * 1.8};
		}
	}
}

// OVERLAY
#overlay {
	background-color: $overlay_background-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: opacity $menu_transition-duration ease-in-out, visibility $menu_transition-duration ease-in-out, z-index 0s $menu_transition-duration ease-in-out;
	body.menu-open & {
		opacity: $overlay_opacity;
		z-index: $overlay_z-index;
		visibility: visible;
		transition: opacity $menu_transition-duration ease-in-out, visibility $menu_transition-duration ease-in-out;
	}
}

// CONTENT
#main-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#content {
	width: 100%;
	background: $content_background-color_to;
	background: -webkit-linear-gradient(120deg, $content_background-color_from, $content_background-color_to);
	background: linear-gradient(120deg, $content_background-color_from, $content_background-color_to);
	flex-grow: 1;
	picture {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: $content_background-image_opacity;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.long img {
			width: 100%;
			height: auto;
		}
		&.wide img {
			width: auto;
			height: 100%;
		}
	}
	> section {
		position: relative;
		padding: 0 $content_section_padding $content_section_padding;
		font-size: $content_section_font-size;
		background-color: transparent;
		.inside {
			background-color: $content_section_inside_background-color;
			position: relative;
			max-width: 60rem;
		    margin: 0 0 0 auto;
		}
		.section-content {
			padding: $content_section_inside_padding;
			h2 {
				margin: 0 0 $content_section_inside_title_margin-bottom; 
				font-size: $content_section_inside_title_font-size;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 1rem;
			}
		}
	}
	#about {
		padding-top: $content_about_padding-top;
		.photo {
			position: relative;
			top: #{-1 * (($content_about_photo_width * 0.5) + $content_about_photo_border-width)};
			width: $content_about_photo_width;
			height: $content_about_photo_height;
			margin: auto;
			border: $content_about_photo_border-width solid $content_section_inside_background-color;
			border-radius: 100%;
			overflow: hidden;
			img {
				position: absolute;
				top: 100%;
				left: 70%;
				width: 140%;
				transform: translate(-50%, -50%);
			}
		}
		.section-content {
			margin-top: #{-1 * (($content_about_photo_width * 0.5) + $content_about_photo_border-width)};
			padding: $content_about_text_padding;
			h1 {
				color: $content_about_h1_color;
				font-size: $content_about_h1_font-size;
				font-weight: $content_about_h1_font-weight;
				line-height: $content_about_h1_line-height;
				margin: $content_about_h1_margin;
			}
			h2 {
				color: $content_about_h2_color;
				font-size: $content_about_h2_font-size;
				font-weight: $content_about_h2_font-weight;
				margin: $content_about_h2_margin;
			}
			h1, 
			h2 {
				text-align: center;
			}
			p {
				margin-bottom: $content_about_p_margin-bottom;
				padding: $content_about_p_padding;
			}
		}
		.social {
			ul {
				display: flex;
				justify-content: center;
				margin: 0;
				padding: $content_about_social_padding;
				background-color: $content_about_social_background-color;
				list-style: none;
			    .typcn {
			    	font-size: $content_about_social_icon_font-size;
			    	margin-left: 0;
			    }
			    a {
				    display: flex;
				    align-items: center;
				    justify-content: center;
		    	    width: $content_about_social_btn_width;
    				height: $content_about_social_btn_height;
				    border-radius: $content_about_social_btn_border-radius;
				    color: $content_about_social_icon_color;
				    border: $content_about_social_btn_border-width solid $content_about_social_icon_color;
				    box-shadow: $content_about_social_btn_box-shadow;
				    &.linkedin {
				    	background-color: $content_about_social_btn_background-color_linkedin;
				    }
				    &.github {
				    	background-color: $content_about_social_btn_background-color_github;
				    }
				    &:hover {
				    	border-color: $content_about_social_btn_hover_border-color;
				    }
			    }
			    li {
			    	display: inline-block;
			    	&:not(:first-child) {
			    		margin-left: $content_about_social_btn_margin-left;
			    	}
			    }
			}
		}
	}
	#education, 
	#experience {
		.section-content {
			ul ul {
				padding: 0 0 0 2rem;
			}
			ul ul li {
				&.title {
					margin-bottom: 0.2rem;
					font-size: 0.9rem;
				}
				&.subtitle {
					color: #555;
					font-size: 1rem;
					font-weight: 800;
				}
				&.description {
					color: #9f9f9f;
					font-size: 0.7rem;
					margin-top: 0.5rem;
				}
			}
			& > ul > li { 
				display: flex;
				align-items: center;
				position: relative;
				&:not(:last-child) {
					margin-bottom: 1.6rem;
					&::after {
						content: "";
						position: absolute;
						width: calc(100% - 4.6rem);
						bottom: -0.8rem;
						height: 1px;
						left: 4.6rem;
						margin: auto;
						background-color: #eee; 
					}
				}
				.image {
					display: flex;
					align-items: center;
					width: 3rem;
					height: 3rem;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				a {
					display: block;
				}
			}
		}
	}
	#projects,
	#certifications {
		.section-content {
			& > ul > li {
				position: relative;
				&:not(:last-child) {
					margin-bottom: 3rem;
					&::after {
						content: "";
						position: absolute;
						width: 40%;
						left: 30%;
						height: 1px;
						bottom: -1rem;
						background-color: #e0e0e0;
					}
				}
				h3 {
					font-size: 0.9rem;
					color: #333;
				}
				p {
					margin: 0.5rem 0; 
				}
			}
			.btn a {
			    display: block;
			    font-size: 0.8rem;
			    font-weight: bold;
			    margin-top: 1rem;
			    padding: 0.5rem 1rem;
			    text-align: center;
			    border: 1px solid #d0d0d0;
			    border-radius: 0.3rem;
			    &:hover {
			    	background-color: #f2f2f2;
			    }
			}
		}
	}
	#projects {
		.section-content {
			& > ul > li {
				h3 {
					margin: 0 0 0.3rem 0;
					display: inline-block;
					padding: 0.2rem 0.3rem;
					background-color: #f1f9df;
					color: #000;
				}
				p {
					margin: 0.5rem 0;
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}
	}
	#certifications {
		.section-content {
			& > ul > li {
				h3 {
					margin: 0 0 0.2rem 0;
					font-size: 1rem;
				}
				.institution {
					margin: 0 0 0.2rem 0;
					font-size: 0.9rem;
				}
				.completion {
					margin: 0;
					font-size: 0.8rem;
					color: #999;
				}
			}
		}
	}
}

#footer {
	position: relative;
	background-color: #000;
	text-align: center;
    padding: 2rem 1rem 6rem;
    z-index: 1;
	h4 {
		margin: 0 0 0.5rem 0;
		font-size: 1rem;
	    color: #f3f3f3;
	}
	p {
		font-size: 0.9rem;
	    color: #bdbdbd;
	    margin: 0;
	}
	h4, 
	p {
		max-width: 60rem;
	    margin: 0 0 0 auto;
	}
}



@media screen and (min-width: 61.25rem) {
	#menu-toggle {
		display: none;
	}
	#menu {
		width: 30%;
		height: 100%;
		top: 0;
		right: 0;
		transform: translate(0, 0);
	}
	#menu, 
	#menu ul {
		opacity: 1;
		z-index: $menu_z-index;
		visibility: visible;
	}
	#menu ul li a {
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 3rem;
		.typcn {
		    font-size: 1.2rem;
		    margin-right: 1.4rem;
		}
	}
	#content {
		#about {
			padding-top: $content_about_padding-top * 1.3;
			.photo {
				top: #{-1 * (($content_about_photo_width * 0.65) + $content_about_photo_border-width)};
				width: $content_about_photo_width * 1.3;
				height: $content_about_photo_height * 1.3;
			}
			.section-content {
				margin-top: #{-1 * (($content_about_photo_width * 0.65) + $content_about_photo_border-width)};
				h1 {
					font-size: $content_about_h1_font-size * 1.3;
				}
				h2 {
					font-size: $content_about_h2_font-size * 1.2;
				}
				p {
					padding: 0 1.7rem;
				}
			}
		}
	}
	#content,
	#loading,
	#footer {
		width: calc(70% - 2rem);
	}
	#content picture {
		width: 70%;
	}
	#content,
	#loading {
		padding: 1rem;
	}
	#loading {
		li {
	    	margin-left: auto;
		    &:first-of-type {
		    	margin-top: $loading_list_item_first-of-type_margin-top * 1.3;
		    }
		}
		.image {
			top: #{-1 * (($loading_list_item_first-of-type_image_width * 0.65) + $loading_list_item_first-of-type_image_border-width)};
			width: $loading_list_item_first-of-type_image_width * 1.3;
			height: $loading_list_item_first-of-type_image_height * 1.3;
		}
	}
}