// BODY
$body_background-color: #f4f4f4;

// MENU TOGGLE
$menu_toggle_z-index: 99999;
$menu_toggle_width: 2.7rem;
$menu_toggle_height: 2.7rem;
$menu_toggle_line_width: $menu_toggle_width * 0.35;
$menu_toggle_line_height: 1px;
$menu_toggle_line_distance_between: 0.45rem;
$menu_toggle_bottom: 1rem;
$menu_toggle_right: $menu_toggle_bottom;
$menu_toggle_background-color: #fff;
$menu_toggle_background-color_line: #333;
$menu_toggle_border-width: 0.15rem;
$menu_toggle_border-color: #868686;
$menu_toggle_border-radius: 0.3rem;
$menu_toggle_box-shadow: 0 0 0.3rem -0.1rem rgba(0, 0, 0, 0.15);
$menu_toggle_transition-duration: 0.8s;
$menu_toggle_transition-delay: 0.4s;
$menu_toggle_line_transition-duration: 0.15s;

// MENU
$menu_z-index: 9999;
$menu_background-color_from: #DDEFBB;
$menu_background-color_to: #FFEEEE;
$menu_box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.15);
$menu_transition-duration: 0.3s;
$menu_h1_font-size: 0.7rem;
$menu_h1_padding: 2rem 2rem 0.8rem 2rem;
$menu_h1_color: #969696;
$menu_ul_padding: 1rem 0 ($menu_toggle_height + $menu_toggle_bottom);
$menu_ul_sliding_transition-duration: $menu_transition-duration * 0.5;
$menu_ul_sliding_transition-delay: 0.1s;
$menu_a_font-size: 1rem;
$menu_a_font-weight: 400;
$menu_a_color: #333;
$menu_a_padding-left: 2rem;
$menu_a_padding-right: 4rem;
$menu_a_padding-top: 0.68rem;
$menu_a_padding-bottom: $menu_a_padding-top;
$menu_a_hover_color: #fff;
$menu_a_hover_background-color: #626262;
$menu_a_hover_transition-duration: 0.2s;
$menu_a_icon_color: #2ecc71;
$menu_a_icon_margin-right: 1rem;

// OVERLAY MAIN
$overlay_z-index: 999;
$overlay_background-color: #000;
$overlay_opacity: 0.3;

// CONTENT
$content_background-image_opacity: 0.6;
$content_background-color_from: #d4fc79;
$content_background-color_to: #96e6a1;
	// $content_background-color_from: #d4fc79;
	// $content_background-color_to: #96e6a1;
$content_section_padding: 0.7rem;
$content_section_font-size: 1rem;
$content_section_inside_background-color: #fafafa;
$content_section_inside_padding: 1rem;
$content_section_inside_title_font-size: 1.1rem;
$content_section_inside_title_margin-bottom: 1rem;

	// ABOUT
	$content_about_padding-top: 5rem;
	$content_about_photo_width: 8rem;
	$content_about_photo_height: $content_about_photo_width;
	$content_about_photo_border-width: 0.4rem;
	$content_about_text_padding: 1rem 1rem 2rem;
	$content_about_h1_color: #333;
	$content_about_h1_font-size: 1.45rem;
	$content_about_h1_font-weight: normal;
	$content_about_h1_line-height: 1.35;
	$content_about_h1_margin: 0 0 0.3rem;
	$content_about_h2_color: #000;
	$content_about_h2_font-size: 1.2rem;
	$content_about_h2_font-weight: 700;
	$content_about_h2_margin: 0 0 2rem;
	$content_about_p_margin-bottom: 0;
	$content_about_p_padding: 0 0.8rem;
	$content_about_social_background-color: #f0f0f0;
	$content_about_social_padding: 1rem 1.5rem 1.5rem;
	$content_about_social_icon_color: #fff;
	$content_about_social_icon_font-size: 1.9rem;
	$content_about_social_btn_width: 2.5rem;
	$content_about_social_btn_height: $content_about_social_btn_width;
	$content_about_social_btn_border-width: 0.2rem;
	$content_about_social_btn_border-radius: 0.3rem;
	$content_about_social_btn_margin-left: 1rem;
	$content_about_social_btn_box-shadow: 0.0625rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
	$content_about_social_btn_background-color_linkedin: #0077B5;
	$content_about_social_btn_background-color_github: #1b1f23;
	$content_about_social_btn_hover_border-color: $menu_a_icon_color;


// LOADING OVERLAY
$loading_z-index: 9999999;
$loading_transition-duration: $menu_toggle_transition-duration;
$loading_transition-delay: $menu_toggle_transition-delay;
$loading_list_item_initial_height: 10rem;
$loading_list_item_margin: $content_section_padding;
$loading_list_item_background-color: #fff;
$loading_list_item_box-shadow: 0.0625rem 0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.25);
$loading_list_item_transition-duration: $loading_transition-duration;
$loading_list_item_first-of-type_margin-top: $content_about_padding-top;
$loading_list_item_header_initial_height: $loading_list_item_initial_height * 0.25;
$loading_list_item_header_background-color: #dadada;
$loading_list_item_first-of-type_image_width: $content_about_photo_width;
$loading_list_item_first-of-type_image_height: $loading_list_item_first-of-type_image_width;
$loading_list_item_first-of-type_image_border-width: $content_about_photo_border-width;



