.about {
	.section__description {
		background-color: $background__background-color_about-description;
		width: 100%;
		padding: 40px 20px;
		overflow: hidden;
	    	@media #{ $md-min } { 
				position: absolute;
				float: left;
				width: 33.33333%;
				padding: 60px;
			}
		&.image-visible {
			.about-picture__border {
				opacity: 1;
				@include transform( translate(0, 0) rotate(-2deg) );
			}
		}
		&.overflow__auto {
			overflow: auto;
		}

	}
	.section__content {
		width: 100%;
		position: relative;
	    	@media #{ $md-min } { 
				float: right;
				width: 66.66667%;
			}
	}
	.section__description-title {
		color: #fff;
		text-shadow: 0 0 3px rgba(0, 0, 0, 0.225);
		line-height: 1.2;
		display: block;
		margin-top: 40px;
		margin-bottom: 0;
	}
}
.about-picture__border {
    background: #fff;
    width: 200px;
    height: 240px;
    	@media #{ $md-min } { 
		    width: 250px;
		    height: 300px;
		}
    margin: 0 auto;
    padding: 10px 10px 45px;
    text-align: center;
    font-family: $font__font-family_headers;
    color: #333;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
	opacity: 0;
	-moz-transition: -moz-transform 1s;
	-webkit-transition: -webkit-transform 1s;
	-o-transition: -o-transform 1s;
	-ms-transition: -ms-transform 1s;
	transition: transform 1s;
	@include transform( translate(-80%, 80%) rotate(-70deg) );
}
.about-picture {
    width: 100%;
    height: 100%;
    position: relative;
    .background__image img {
    	top: 0;
    	left: 0;
    	@include transform( translate( 0, 0 ) );
    }
}
.about-content {
	position: relative;
	padding: 120px 20px 20px 20px;
    	@media #{ $md-min } { 
			padding: 40px 40px 40px 120px;
		}
	h3 {
		margin-top: 0;
	    margin-bottom: 15px;
    	line-height: 1.2;
    	@media #{ $sm-max } { 
			font-size: 25px;
		}
	}
	> * {
		margin-bottom: 35px;
	    	@media #{ $md-min } { 
				margin-bottom: 45px;
			}
	}
}
.about-content__section {
	font-size: 14px;
}
.about-nav {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	margin: 0;
	background-color: #FDFDFD;
    	@media #{ $sm-max } { 
			border-bottom: 1px solid #EFEFEF;
			li {
				display: inline-block;
				width: 33%;
				margin-left: -2px;
			}
			a {
				height: 80px;
			}
		}
    	@media #{ $md-min } { 
			width: 80px;
			height: 100%;
			border-right: 1px solid #EFEFEF;
		}
	a,
	i,
	span {
		display: block;
		text-align: center;
	}
	a {
		padding: 10px;
		color: #7f7f7f;
		@include transition( .1s );
		&.active,
		&:hover {
			color: $color__about-nav;
		}
		&.active {
			background-color: #f3f3f3;
		}
	}
	i {
    	font-size: 35px;
    	margin-bottom: 5px;
	}
	span {
		font-size: 15px;
		font-family: $font__font-family_headers;
	}
}
