@import "guidelines";
@import "base";
@import "helpers";

body {
    padding: 20px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.window-border {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
    border: 20px solid $background__background-color_body;
    z-index: 99999;
    pointer-events: none;
}
.loading-page-overlay {
	position: fixed;
	width: calc( 100% - 40px );
	height: calc( 100% - 40px );
	top: 20px;
	left: 20px;
	z-index: 999999;
	background: #444B54;
	@include transition( opacity .4s );
	.loading-anim {
		position: absolute;
		@include center();

		// Credits to @tobiasahlin
		.sk-cube-grid {
		  width: 40px;
		  height: 40px;
		  margin: 100px auto;
		   .sk-cube {
				width: 33%;
				height: 33%;
				background-color: #fff;
				float: left;
				-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
						animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
			}
			.sk-cube1 {
				-webkit-animation-delay: 0.2s;
						animation-delay: 0.2s; 
		      }
			.sk-cube2 {
				-webkit-animation-delay: 0.3s;
						animation-delay: 0.3s; 
		      }
			.sk-cube3 {
				-webkit-animation-delay: 0.4s;
						animation-delay: 0.4s; 
		      }
			.sk-cube4 {
				-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s; 
		      }
			.sk-cube5 {
				-webkit-animation-delay: 0.2s;
						animation-delay: 0.2s; 
		      }
			.sk-cube6 {
				-webkit-animation-delay: 0.3s;
						animation-delay: 0.3s; 
		      }
			.sk-cube7 {
				-webkit-animation-delay: 0s;
						animation-delay: 0s; 
		      }
			.sk-cube8 {
				-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s; 
		      }
			.sk-cube9 {
				-webkit-animation-delay: 0.2s;
						animation-delay: 0.2s; 
		      }
		}

	}
	&.hiding {
		opacity: 0;
	}
	&.hidden {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}
.content {
	background: $background__background-color_content;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1600px;
	margin: auto;
}
.section {
	position: relative;
	min-height: 530px;
    	@media #{ $sm-min } { 
			min-height: 650px;
		}
    	@media #{ $md-min } { 
			min-height: 90vh;
		}
	z-index: 9;
	overflow: hidden;
	.section__description,
	.section__content {
		height: 100%;
	}
}
.section__description-title {
	font-family: $font__font-family_cursive;
	font-size: 35px;
    	@media #{ $md-min } { 
			font-size: 40px;
		}
}
.section-title {
	font-family: $font__font-family_headers;
	padding: 10px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 99;
    &.is-fixed {
    	position: fixed;
    	bottom: 20px;
    	left: 20px;
    }
    &.is-bottom {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
}
.background__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	img {
		position: absolute;
		top: 0;
		left: 0;
	}
	&.wide img {
		width: 100%;
		height: auto;
		top: 50%;
		@include transform( translateY(-50%) );
	}
	&.tall img {
		width: auto;
		height: 100%;
		left: 50%;
		@include transform( translateX(-50%) );
	}
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

@import "home";
@import "about";
@import "projects";
@import "contact";
@import "footer";