footer {
	background: #000;
	color: #eee;
	padding: 30px 40px 10px 40px;
	text-align: center;
	p {
		font-family: $font__font-family_headers;
		font-size: 16px;
		margin: 0;
	}
	span {
		@media #{ $xs-only } {
			&::after {
				content: "";
				position: relative;
				display: block;
			}
		}
	}
}