.projects {
	background-color: $background__background-color_projects;
	padding: 20px;
    	@media #{ $md-min } { 
			padding: 80px;
		}
	position: relative;
	z-index: 99;
	.section__title {
	    display: block;
	    width: 100%;
		margin: 0 0 15px 0;
	    padding: 5px 10px;
		font-family: $font__font-family_headers;
		font-size: 35px;
		color: $color__projects-title;
	    background: $background__background-color_projects-title;
	    box-shadow: 0 0 10px -3px rgba( 0, 0, 0, 0.25);
	    text-align: center;
	    position: relative;
	    overflow: hidden;
	    	@media #{ $md-min } {
	    		display: inline-block;
			    width: calc( 33.333% - 10px );
			    margin: 0 0 20px 10px;
			    padding: 25px;
				font-size: 50px;
	    	}
	}
    &::before, 
    &::after {
    	content: "";
	    position: absolute;
    }
    &::before {
	    background: #6C8784;
	    width: 70%;
	    height: 70%;
        top: 50%;
	    left: 50%;
	    transform: rotate( -20deg ) translate( -50%, -50% );
	    transform-origin: 0;
	    z-index: -1;
    }
    &::after {
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: #EFE0B1;
	    z-index: -2;
    }
}

.grid__custom {
	max-width: 100%;
	margin: auto;
	.grid__list {
		position: relative;
	}
	.grid__list-big, 
	.grid__list-small {
		width: 100%;
	}
	.grid__list-item > div {
		background: #fff;
		border: 5px solid #fff;
		border-radius: 3px;
		box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
		overflow: hidden;
	}
	.grid__list-item,
	.grid__list-item > div {
		width: 100%;
		height: 300px;
	}
	.item-overlay,
	.item-close,
	.item-title,
	.item-description,
	.item-visit {
		position: absolute;
	}
	.item-overlay,
	.item-close,
	.item-description,
	.item-visit,
	.grid__list-item-visible-overlay {
		opacity: 0;
	}
	.item-close,
	.item-description,
	.item-visit,
	.grid__list-item-visible-overlay {
		visibility: hidden;
		z-index: -1;
		height: 0;
	}
	.item-overlay,
	.item-image {
		width: 100%;
		height: 100%;
	}
	.item-close,
	.item-overlay,
	.item-image,
	.item-title {
    	@include transition( .4s );
	}
	.item-overlay {
		background: rgba(0, 0, 0, .9);
		z-index: 2;
	}
	.item-image {
		opacity: 1;
		z-index: 1;
		position: relative;
		img {
			top: 0;
			left: 0;
			@include transform( translate( 0, 0 ) );
		}
	}
	.item-title {
		font-size: 16px;
		color: #fff;
		line-height: 1.35;
    	margin: 0;
    	z-index: 3;
	}
	.item-description {
		display: block;
		color: #000;
	}
	.item-visit {
		padding: 0;
    	a {
			color: #000;
    	}
	}
	.grid__list-item-visible-overlay {
		position: absolute;
	}
	.grid__list-item-loading-transition {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		overflow: hidden;
		z-index: -1;
		text-align: center;
		background: #fff;
		color: #999;
		@include transition( opacity .4s );
		i {
			opacity: 0;
			position: relative;
			line-height: 0;
			@include center( "vertical" );
		}
	}
	.grid__list-big, 
	.grid__list-small {
		.grid__list-item {
			position: relative;
			> div {
				display: block;
				position: relative;
				&.project-showing {
					position: fixed;
					width: calc( 100% - 60px );
					height: calc( 100% - 60px);
					padding: 0;
					top: 30px;
					left: 30px;
					background: #fff;
					cursor: auto;
					box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.18);
					z-index: 99;
					border-radius: 0;
					border-width: 0;
					.item-overlay {
						opacity: 0;
						visibility: hidden;
						z-index: -1;
						height: 0;
						top: 0;
	    				left: 0;
					}
					.item-description, 
					.item-visit {
						z-index: 99;
					}
					.item-close, 
					.item-description, 
					.item-visit,
					.grid__list-item-visible-overlay {
						height: auto;
						visibility: visible;
						overflow: auto;
					}
					.item-title, 
					.item-description,
					.grid__list-item-visible-overlay {
						opacity: 1;
					}
					.item-close {
					    text-align: center;
					    overflow: hidden;
					    z-index: 999;
					}
					.item-image {
						width: 100%;
					}
					.item-content {
						padding: 20px 20px 80px 20px;
					    width: 100%;
					}
					.item-title {
						color: #000;
						font-size: 22px;
						text-align: left;
						position: relative;
						top: 0;
						left: 0;
						margin-bottom: 20px;
						border-bottom: 1px solid $color__text-color_bright;
						background: transparent;
						box-shadow: none;
						padding: 0;
						@include transform( translate(0, 0) );
					}
					.item-description {
						position: relative;
						padding: 0;
					}
					.item-visit {
						opacity: 1;
						width: 100%;
					    left: 0;
					    bottom: 0;
					}
					.grid__list-item-visible-overlay {
						position: fixed;
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					}
					&:hover,
					&:focus {
						.item-overlay {
							opacity: 0;
						}
						.item-image {
							opacity: 1;
							@include transform( scale(1) );
						}
						.item-title {
							opacity: 1;
						}
					}
				}
				&.loading {
					.item-close, 
					.item-image,
					.item-title, 
					.item-description, 
					.item-visit {
						opacity: 0;
						z-index: -1;
						visibility: hidden;
						overflow: hidden;
					}
					.grid__list-item-loading-transition {
				    	visibility: visible;
						z-index: 99;
					}
				}
				&.initial-state {
					.grid__list-item-loading-transition {
				    	opacity: 1;
						width: 100%;
						height: 100%;
						i {
							opacity: 1;
						}
					}
				}
				&.is-full-width {
					.grid__list-item-loading-transition {
						position: fixed;
					    width: calc( 100% - 60px);
					    height: calc( 100% - 60px);
					    top: 30px;
					    left: 30px;
					}
				}
			}
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
    	@media #{ $sm-max } {
			.grid__list-small {
				margin-top: 20px;
			}
			.item-close {
			    background: $color__text-color_bright;
			    border-radius: 5px;
			    color: #333;
			    i {
			    	font-size: 1.5em;
			    }
			}
			.item-title {
			    display: block;
			    background: rgba(0, 0, 0, 0.75);
			    font-size: 18px;
			    font-weight: bold;
			    bottom: 0;
			    width: 100%;
			    padding: 13px 25px;
				border-top: 2px solid #92F22A;
			}
			.item-visit {
			    text-align: center;
			    background: #fff;
			    a {
			    	font-family: $font__font-family_headers;
				    font-size: 15px;
			    }
			}
			.grid__list-big, 
			.grid__list-small {
				.grid__list-item {
					> div {
						&.project-showing {
							overflow: auto;
							.item-image {
								height: 200px;
							}
							.item-close {
								opacity: 1;
								padding: 6px;
							    position: fixed;
							    top: 40px;
							    right: 40px;
							    width: 32px;
							    height: 32px;
							    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
							}
							.item-title {
								border-top: none;
								font-weight: normal;
							}
							.item-description {
								font-size: 14px;
							}
							.item-visit {
								position: fixed;
							    width: calc( 100% - 60px);
							    left: 30px;
							    bottom: 30px;
							    padding: 8px;
							    a {
							        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
								    display: block;
								    width: 100%;
								    height: 100%;
								    background: darken( $color__text-color_bright, 18% );
								    color: #fff;
								    opacity: 1;
								    padding: 8px 10px;
							    }
							}
						}
					}
				}
			}
    	} 
    	@media #{ $sm-min } {
			.grid__list-item,
			.grid__list-item > div {
				height: 420px;
			}
    	} 
    	@media #{ $md-min } { 
			width: 1200px;
			.grid__list {
				float: left;
			}
			.grid__list-big {
				width: calc( 66.666% - 10px );
				margin-right: 10px;
				.grid__list-item,
				.grid__list-item > div {
					width: 100%;
					height: 350px;
				}
				.grid__list-item .item-title {
			    	font-size: 35px;
				}
			}
			.grid__list-small {
				width: calc( 33.334% - 10px );
				margin-left: 10px;
				.grid__list-item,
				.grid__list-item > div {
					width: 100%;
					height: 180px;
				}
				.grid__list-item .item-title {
			    	font-size: 25px;
				}
			}
			.item-close {
				font-family: $font__font-family_headers;
				color: #000;
			    line-height: 1;
			    cursor: pointer;
			}
			.item-title {
				display: inline-block;
				text-align: center;
				opacity: 0;
				border-bottom: 3px solid $color__text-color_bright;
				@include center();
			}
			.grid__list-big, 
			.grid__list-small {
				.grid__list-item {
					cursor: pointer;
					> div {
						&.project-showing {
							width: calc( 100% - 80px );
							height: calc( 100% - 80px );
							top: 40px;
							left: 40px;
							cursor: auto;
							.item-close {
								opacity: 0.5;
								padding: 10px;
								width: 48px;
								height: 48px;
							    top: 20px;
						    	right: 20px;
								&:hover,
								&:focus {
									opacity: 1;
								}
							}
							.item-image {
								width: 33%;
								float: left;
							}
							.item-content {
							    float: right;
							    width: 67%;
								padding: 30px 40px 70px 40px;
							    height: 100%;
							    overflow: auto;
							}
							.item-title {
								margin-right: 60px;
								display: block;
								@include transform( translate(0, 0) );
							}
							.item-description {
								font-size: 16px;
							}
							.item-visit {
								width: calc( 67% - 100px);
							    left: calc( 33% + 40px );
							    bottom: 0;
							    padding: 28px 0;
							    background: #fff;
							    overflow: hidden;
							    a {
									position: relative;
									background: darken( $color__text-color_bright, 20% );
									font-family: $font__font-family_headers;
									font-size: 17px;
    								padding: 11px 40px 11px 23px;
									color: #fff;
									border: none;
									border-radius: 0;
									box-shadow: none;
									cursor: pointer;
									overflow: hidden;
									text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
									&::before {
										content: "\f2ee";
									    font-family: "Material-Design-Iconic-Font";
									    position: absolute;
									    height: 100%;
									    top: 0;
									    right: 0;
									    width: 28px;
									    line-height: 2.9;
									    z-index: 2;
									    font-size: 14px;
									}
									&::after {
										content: '';
									    position: absolute;
									    z-index: -1;
									    width: 30%;
									    height: 200%;
									    background: rgba(255,255,255,0.1);
									    z-index: 1;
									    right: 0;
									    top: 0;
									    margin: -5px 0 0 -5px;
									    -webkit-transform-origin: 0 0;
									    -webkit-transform: rotate(-20deg);
									    -moz-transform-origin: 0 0;
									    -moz-transform: rotate(-20deg);
									    -ms-transform-origin: 0 0;
									    -ms-transform: rotate(-20deg);
									    transform-origin: 0 0;
									    transform: rotate(-20deg);
									    @include transition( .3s );
									}
									&:hover,
									&:active {
										outline: none;
										&::after {
											width: 40%;
										}
									}
							    }
							}
							&:hover,
							&:focus {
								.item-overlay {
									opacity: 0;
								}
								.item-image {
									opacity: 1;
									@include transform( scale(1) );
								}
								.item-title {
									opacity: 1;
								}
							}
						}
						&.is-full-width {
							.grid__list-item-loading-transition {
								position: fixed;
							    width: calc( 100% - 80px);
							    height: calc( 100% - 80px);
							    top: 40px;
							    left: 40px;
							}
						}
						&:not(.project-showing) {
							&:hover,
							&:focus {
								.item-overlay, 
								.item-title {
									opacity: 1;
								}
								.item-image {
									opacity: .5;
									@include transform( scale(1.1) );
								}
							}
						}
					}
					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}
			}
		}
		@media #{ $lg-min } {
			.grid__list-big {
				.grid__list-item,
				.grid__list-item > div {
					height: 420px;
				}
				.grid__list-item .item-title {
			    	font-size: 50px;
				}
			}
			.grid__list-small {
				.grid__list-item,
				.grid__list-item > div {
					height: 210px;
				}
				.grid__list-item .item-title {
			    	font-size: 32px;
				}
			}

		}
}