@import '_animations';

*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    &:focus {
        outline: 4px solid #F2ED6F;
    }
    body.using-mouse &:focus {
        outline: none;
    }
}

.ui-loader {
    display: none;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    overflow-x: hidden;
    &.main-menu-open {
        overflow-y: hidden;
    }
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    &.visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .spinner-icon {
        position: relative;
        padding: 0.8rem;
        border: 3px solid #616263;
        width: 4rem;
        height: 4rem;
        background-color: #fff;
        &::before {
            content: "";
            position: absolute;
            right: -0.5rem;
            bottom: -0.5rem;
            width: 100%;
            height: 100%;
            background-color: #93C2BC;
            z-index: -1;
        }
        &::after {
            content: "\f110";
            font-family: 'Line Awesome Free';
            font-weight: 900;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 3rem;
            color: #333;
            animation-name: spinner-rotation;
            animation-iteration-count: infinite;
            animation-duration: 2000ms;
            animation-timing-function: linear;
        }
    }
}
#menu-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    z-index: 999;
    &::after {
        content: "\f0c9";
        font-family: 'Line Awesome Free';
        font-weight: 900;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #333;
        transform: translate(-50%, -50%);
        transition: color 0.1s ease-in-out;
    }
    body.main-menu-open &::after {
        color: #fff;
    }
}
#main-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 99;
    background-color: #333333;
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(2rem);
    transition: all 0.1s ease-in-out;
    li.active {
        border-left: 1rem solid #fff;
    }
    a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 2rem;
    }
    body.main-menu-open & {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
    }
}
main {
    padding-top: 4rem;
    max-width: 50rem;
    margin: auto;
}
section {
    padding: 1.5rem;
    header {
        color: #333;
        margin-bottom: 1.5rem;
        h2,
        p {
            margin: 0;
        }
        h2 {
            display: inline-block;
            position: relative;
            padding: 0.5rem 1rem;
            border: 4px solid #333;
            background-color: #fff;
            &::before {
                content: "";
                position: absolute;
                left: -0.5rem;
                bottom: -0.5rem;
                width: 100%;
                height: 100%;
                background-color: #93C2BC;
                z-index: -1;
            }
        }
    }
    .subheader {
        margin: 1.5rem 0 0.5rem;
        color: #cacaca;
        font-size: 1.1rem;
        font-weight: 600;
    }
    .table {
        ul {
            li {
                display: block;
                > * {
                    display: block;
                }
                &:not(:last-of-type) {
                    margin-bottom: 1rem;
                }
                a {
                    text-decoration: none;
                }
                span {
                    font-size: 1.2rem;
                    color: #333;
                    font-weight: 500;
                }
                .sup {
                    font-weight: 400;
                    color: #E3B23C;
                    margin-bottom: 0.2rem;
                }
                .sub {
                    color: #999;
                    font-weight: 300;
                    margin-top: 0.1rem;
                }
                .text-faded {
                    color: #999;
                    font-weight: 400;
                }
                .sup,
                .sub {
                    font-size: 0.9rem;
                }
            }
        }
    }
    &#front-page {
        header {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.35;
        }
        .social {
            padding: 0.5rem 0 0;
            ul {
                display: flex;
            }
            li {
                &:not(:last-of-type) {
                    margin-right: 1rem;
                }
            }
            a {
                display: inline-block;
                position: relative;
                color: #333;
                text-decoration: none;
                font-size: 1.5rem;
                width: 3.5rem;
                height: 3.5rem;
                font-size: 2.5rem;
                border: 4px solid #333;
                &:focus,
                &:hover {
                    border-color: #93C2BC;
                    outline: none;
                }
                &::after {
                    content: "\f0e1";
                    font-family: 'Line Awesome Brands';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &#link-linkedin::after {
                    content: "\f0e1";
                }
                &#link-github::after {
                    content: "\f09b";
                }
            }
        }
    }
    &#certifications {
        .table {
            a.button {
                padding: 0.3rem;
                text-align: center;
                color: #666;
                border: 1px solid #999;
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
                &:hover {
                    outline: 4px solid #F2ED6F;
                    border-color: transparent;
                }
                body:not(.using-mouse) & {
                    &:focus {
                        outline: 4px solid #F2ED6F;
                    }
                    &:focus,
                    &:active {
                        border-color: transparent;
                    }
                }
            }
        }
    }
}
footer {
    background-color: #000;
    padding: 2rem;
    h5,
    p {
        margin: 0;
        padding: 0;
        color: #fff;
    }
    h5 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 1078px) {
    #menu-toggle {
        display: none;
    }
    #main-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        height: auto;
        padding: 0;
        ul {
            display: flex;
            margin: auto;
            justify-content: center;
            li {
                &.active {
                    border: none;
                    a {
                        background-color: #fff;
                        color: #333;
                        position: relative;
                        &::before { 
                            content: "";
                            position: absolute;
                            left: -0.3rem;
                            bottom: -0.3rem;
                            width: 100%;
                            height: 100%;
                            background-color: #93C2BC;
                            z-index: -1;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            border: 4px solid #333;
                        }
                    }
                }
                &:not(.active) a:hover {
                    color: #b0fff5;
                }
            }
            a {
                font-size: 1.5rem;
            }
        }
    }
    main {
        padding-top: 7rem;
    }
    footer .container {
        max-width: 50rem;
        margin: auto;
        padding: 1rem;
    }
}

