nav {
	a {
		color: #fff;
	}
}
.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.main-nav__wrapper {
	position: absolute;
	top: 25px;
	right: 25px;
    	@media #{ $md-min } {
			top: 30px;
			right: 30px;
    	}
    height: 0;
	@include transition( .5s ease-in-out );
	&.open {
		width: auto;
		height: auto;
	}
	body.nav__hidden & {
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		.nav-icon {
			opacity: 0;
			visibility: hidden;
			z-index: -1;
		}
	}
	body.nav__lower & {
		top: 105px;
	}
}
.nav-icon {
	position: absolute;
    top: 20px;
    right: 20px;
	width: 36px;
	height: 36px;
    	@media #{ $md-min } {
			width: 42px;
			height: 42px;
    	}
	margin: 0;
    border-radius: 50%;
	cursor: pointer;
	background: transparent;
	z-index: 9999;
	@include transform( rotate(0deg) );
	@include transition( .5s ease-in-out );
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	    top: -4px;
	    left: -4px;
	    padding: 4px;
	    box-shadow: 0 0 0 3px #262626;
	    	@media #{ $md-min } {
			    top: -7px;
			    left: -7px;
			    padding: 7px;
			    box-shadow: 0 0 0 4px #262626;
	    	}
		border-radius: 50%;
	    opacity: 0;	
		pointer-events: none;
	    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
	    transition: transform 0.2s, opacity 0.2s;
		@include box-sizing( content-box );
	    @include transform( scale(.8) );
	}
	span {
		display: block;
		position: absolute;
		width: 32px;
		height: 5px;
		background: $color__text-color_bright;
		opacity: 1;
		left: 5px;
	    @include transform( rotate(0deg) );
		@include transition( .25s ease-in-out );
		&:nth-child(1) {
			top: 7px;
		}
		&:nth-child(2),
		&:nth-child(3) {
		    width: 24px;
			top: 18px;
    		left: 9px;
		}
		&:nth-child(4) {
			top: 29px;
		}
	}
	.main-nav__wrapper.open > & {
	    background: $color__text-color_bright;
	    &::after {
			opacity: 1;
	    	@include transform( scale(1) );
	    }	
	    span {
			background: #000;
			height: 2px;
		    	@media #{ $md-min } {
				    height: 3px;
		    	}
			&:nth-child(1),
			&:nth-child(4) {
				top: 19px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2),
			&:nth-child(3) {
				top: 17px;
			    	@media #{ $sm-max } {
					    left: 6px;
			    	}
			    	@media #{ $md-min } {
					    top: 19px;
			    	}
			}
			&:nth-child(2) {
	    		@include transform( rotate(45deg) );
			}
			&:nth-child(3) {
	    		@include transform( rotate(-45deg) );
			}
		}
	}
	.main-nav__wrapper:not(.open) &.scrolled {
	    background: $color__text-color_bright;
	    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
	    span {
			background: #000;
			width: 20px;
			height: 2px;
			left: 8px;
		    	@media #{ $md-min } {
					width: 22px;
					height: 3px;
					left: 10px;
		    	}
			&:nth-child(1) {
				top: 10px;
			    	@media #{ $md-min } {
						top: 11px;
			    	}
			}
			&:nth-child(2),
			&:nth-child(3) {
			    width: 15px;
				top: 17px;
	    		left: 10px;
			    	@media #{ $md-min } {
					    width: 18px;
						top: 19px;
			    		left: 12px;
			    	}
			}
			&:nth-child(4) {
				top: 24px;
			    	@media #{ $md-min } {
						top: 27px;
			    	}
			}
		}
	}
}
.main-nav {
    opacity: 0;
    @include transform( scale(0) );
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    will-change: transform;
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1), -webkit-transform .3s cubic-bezier(.4,0,.2,1);
    z-index: -1;
	display: block;
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 3px;
    overflow: visible;
    visibility: hidden;
    z-index: -1;
    	background: #000;
	    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
	    			0 3px 1px -2px rgba(0,0,0,.2), 
	    			0 1px 5px 0 rgba(0,0,0,.12);
    .main-nav__list {
	    li {
	    	a {
	    		display: block;
	    		padding: 10px 25px 10px 25px;
	    		overflow: hidden;
	    		min-width: 260px;
	    		font-size: 18px;
			    	@media #{ $md-min } {
			    		padding: 10px 30px 10px 30px;
			    		font-size: 22px;
    					min-width: 290px;
			    	}
	    		font-family: $font__font-family_headers;
	    		color: #fff;
	    		background: transparent;
	    		@include transition( .2s ease-in-out );
	    		&:hover,
	    		&:focus {
	    			background: rgba(255, 255, 255, 0.05);
	    		}
	    	}
    		&:first-child a {
    			padding: 20px 25px 10px 25px;
			    	@media #{ $md-min } {
			    		padding: 25px 30px 10px 30px;
			    	}
    		}
    		&:last-child a {
    			padding: 10px 25px 20px 25px;
			    	@media #{ $md-min } {
			    		padding: 10px 30px 25px 30px;
			    	}
    		}
	    }
    }
	.open > & {
	    visibility: visible;
	    z-index: 999;
    	opacity: 1;
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
}